.titleback{
    opacity:0.8;
    background-color:grey;
    z-index: 1;
}
.card-title{
    color:white;
    z-index:3;
}
.imgd{
    width:50px;
     height:10px;
}
.btitle{
    text-transform: capitalize;
}