.jumbot{
    color:black;
}
.jumbot:hover{
    text-decoration:none;
}
/* .pic{
    height:1000px;
    width:1000px;
} */
.pic{
  width:100%;
  height:100%;
}
.cheker{
  margin-top:5px;

}

h6.veiws{
  font-size:25px;
  margin-top: -8%;
}

.jumbotron2{
  -moz-box-shadow: 0 0 10px #9c9a9a;
  -webkit-box-shadow: 0 0 10px #9c9a9a;
  box-shadow: 0 0 10px #9c9a9a;
  }
  .jumbotron2:hover{
    border-width: 2px;
    border-style:solid;
    border-color: rgb(60, 163, 247);
    transition: 0.2s;
  }

.faq{
font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
list-style-type: none;
}
.starrating {
	direction: rtl;
	unicode-bidi: bidi-override;
	color: #ffc107; /* Personal choice */
}

.checker{
    background-color:#C4BDA3;
}
.smalllocate{
  display:none;
}

.controll{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border-color:black;
    border-style:solid;
    margin-top:90px;
    margin-right:40px;
    position:absolute;
    z-index:3;
  }
  
  .controll:hover {
    background-color:black;
    color: white;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background-color:  #f1f1f1;
    color: black;
    right: 0;
  }
  .locate{
    margin-top:3%;
  }
  
  .round {
    border-radius: 40%;
  }

  .price{
    margin-top: -5%;
    font-size: 30px;
    font-weight:20%;
  }

  .active1{
      background-color: black !important;
      color:white;
  }
  .pernight{
    margin-top:-5%;
    /* margin-left:10%;  */
  }

  @media screen and (max-width:689px){
.jumbofontsize{
  font-size: 13px;
}
.mcard{
  padding-top:10px;
  padding-bottom:10px;
  padding-right: 5px;
  padding-left:8px;
}
.starrating {
	direction: rtl;
	unicode-bidi: bidi-override;
  color: #ffc107; /* Personal choice */
  font-size:10px;
}

h6.veiws{
  font-size:16px;
  margin-top: -8%;
}
.rates{
  display:block;
}
.cheker{
  display:none;
}
.price{
  margin-top: -5%;
  font-size: 20px;
  font-weight:20%;
}
.biglocate{
  display:none;
}
}