.flow {
    background-color:black;
    overflow:hidden;
    white-space: nowrap;
    padding-bottom:0px;
    height:400px;
  }
  .app-image-gallery{
    height:100px;
  } 
  /* .bod{
    margin-top:250px;
  }

  @media (max-width:970px){
    .bod{
      margin-top:0px;
    }
  }

  @media (max-width:698px){
    .bod{
      margin-top:-100px;
    }
  }

  @media (max-width:360px){
    .bod{
      margin-top:-200px;
    }
  } */



  .scrolling-wrapperb {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    transition: width 2s;
    
  }

 
     .scrolling-wrapperb::-webkit-scrollbar {
    display: none;
  }   

  .controll{
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border-color:black;
    border-style:solid;
    margin-top:90px;
    margin-right:40px;
    position:absolute;
    z-index:3;
  }
  
  .controll:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #f1f1f1;
    color: black;
  }
  
  .next {
    background-color:  #f1f1f1;
    color: black;
    right: 0;
    margin-right: 10% !important;
  }
  
  .round {
    border-radius: 40%;
  }
  .ifont{
    font-size:16px;
  }



  .pic{
    height:200px;
  }

.loadingicon{
  height:60vh;
  display:flex;
  align-items:center;
  justify-content:center
}

.wicon{
  font-size:16px !important;
}