.navigation{
    color:red;
}
.nav-link{
    font-size:15px;
    color:black;
}
.wicon{
    font-size:30px;
    color:green;
}
.number{
    color:white;
}
.menuicon{
    color:black;
    font-size:15px;
    margin-right:5px;
}
.navbar-expand-lg{
    z-index:3px;
}
.navbar{
    background-color:black !important;
}
.navbar-toggler{
    border-color:white !important;
    margin-bottom: 10px;
}
.navbar-toggler-icon{
    color:white;
}