.radio{
display:inline;
}
.chck{
    margin-left:-20px;
}
.txa{
    height:60px !important;
}
.buttin{
    padding-bottom:10px !important;
}
.contain{
    padding-bottom:none;
    margin-bottom:-25px;
   
}