.label{
    color:white;
}
.icon{
    color:white;
    font-size:40px;
    margin-left:30px;
    margin-top:10px;
}
.footer-back{
    background-color:black;
}
.logo{
    margin-top:40px;
    color:white;
}
@media (max-width: 991.98px){
    .secondsec{
        display:none;
    }
}